---
import Title from "../components/Title.astro"
import CardCertificate from "../components/CardCertificate.astro"
---

<Title title="Certificados:"></Title>

<div class="grid grid-cols-1 w-full gap-7 drop-shadow-md md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4">

    <CardCertificate title="Certificado:" nameCertificate="Microservicios con Java y Spring Boot" plataforma="EdTeam" date="Abril 2024"/>

    <CardCertificate title="Constancia:" nameCertificate="Inglés B1" plataforma="Tecnológico de Iguala" date="Agosto 2023" />

    <CardCertificate title="Constancia:" nameCertificate="Curso Laravel" plataforma="Tecnológico de Iguala" date="Agosto 2023" />

    <CardCertificate title="Certificado:" nameCertificate="HTML & CSS" plataforma="Open Bootcamp" date="Agosto 2023" />

    <CardCertificate title="Certificado:" nameCertificate="Electron.js" plataforma="ED Team" date="Agosto 2023" />

</div>
