---
import ExperienceSection from "../components/React/ExperienceSection.jsx";
import Title from "../components/Title.astro";
---

<section class="relative flex flex-col items-center">
	<Title title="Experiencia:" />
	<ExperienceSection client:visible />
</section>
