---
import Carrousel from "../components/React/Carrousel"
---

<div class="flex w-full h-full flex-col items-center justify-center font-bold pt-0 lg:pt-0 font-cantora space-y-2 2xl:space-y-4">
    <h1 class="text-3xl font-bold tracking-wider lg:text-5xl 2xl:text-6xl text-gray-900 dark:text-orange-500">
        Experiencia
    </h1>
    <span
        class="text-lg text-gray-500 lg:text-2xl 2xl:text-3xl dark:text-gray-300 font-signika"
        >Ingeniero en Sistemas Computacionales</span
    >
    <span
        class="text-xl lg:text-2xl 2xl:text-4xl dark:text-yellow-500"
        >Web Developer!!</span
    >
    
    <p class="mt-6 text-base  text-gray-500 font-roboto">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>

    <Carrousel />
</div>