---
import Layout from "../layouts/Layout.astro";
import HeaderCompo from "../components/HeaderCompo.astro";
import Experience from "./Experience.astro";
import Skill from "../components/Skill.astro";
import Title from "../components/Title.astro";
import PerfilA from "../components/PerfilAnimation.astro";
---

<Layout title="Jesus Echeverria">
	<header class="relative flex w-full h-screen">
		<div class="w-60 h-48 absolute blur-2xl rounded-full bg-[#1c9da1]"></div>
		<HeaderCompo />
	</header>
	<!-- <main class="flex w-full h-screen">
		<Title title="Experiencia:" />
		
	</main> -->

</Layout>
