---
import Title from "../components/Title.astro"
import CardProyect from '../components/CardProyect.astro';
---
<Title title="Proyectos" />

<section class="flex w-full overflow-x-auto gap-6 bg-slate-100 lg:overflow-hidden md:grid md:grid-cols-2 2xl:grid-cols-3 dark:bg-[#192d38fd] rounded-xl p-12">

    <CardProyect url="https://echeverriajesus.github.io/JesusEcheverria.github.io/static/media/Cinteotl3.901a531b9fc9db2659e6.png" title="CINTEOLT" description="Sitio web de un restaurante" date="Agosto 2023" />

    <CardProyect url="https://echeverriajesus.github.io/JesusEcheverria.github.io/static/media/SCHOOLBOOK2.b2ac0ffbaa3fb470bfe0.png" title="SCHOOLBOOK" description="Control escolar web de nivel secundaria." date="Agosto 2023" />

    <CardProyect url="https://echeverriajesus.github.io/JesusEcheverria.github.io/static/media/PosSystem6.23f1848049a28011d88f.png" title="POS SYSTEM" description="Systema punto de venta." date="Agosto 2023" />

    <CardProyect url="https://echeverriajesus.github.io/JesusEcheverria.github.io/static/media/Cinteotl3.901a531b9fc9db2659e6.png" title="CINTEOLT" description="Sitio web de un restaurante" date="Agosto 2023" />

    <CardProyect url="https://echeverriajesus.github.io/JesusEcheverria.github.io/static/media/SCHOOLBOOK2.b2ac0ffbaa3fb470bfe0.png" title="SCHOOLBOOK" description="Control escolar web de nivel secundaria." date="Agosto 2023" />

    <CardProyect url="https://echeverriajesus.github.io/JesusEcheverria.github.io/static/media/PosSystem6.23f1848049a28011d88f.png" title="POS SYSTEM" description="Systema punto de venta." date="Agosto 2023" />

</section>