---
import Title from "../components/Title.astro";
import TabsComponente from "../components/React/TabsComponent";
---

<Title title="Recursos:" />
<section class="w-full lg:-mt-5">
    <TabsComponente client:visible />
</section>
