<!-- ---
import imgPerfil from '/src/imgs/PerfilL.jpg';
--- -->

<div class="justify-center items-center">
  <div
    class="abosulte w-60 h-48 absolute inset-10 -z-10 m-auto blur-3xl rounded-full bg-[#6cf7fc] lg:top-60 xl:left-[480px] xl:top-40 2xl:left-[650px]"
  >
  </div>
  <div
    class="relative z-0 pt-24 w-full h-full flex justify-center items-center"
  >
    <a
      class="abosulute"
      href="https://www.instagram.com/jesus_echeverria_01/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="w-36 md:w-44 lg:w-56 xl:w-48 2xl:w-72 rounded-full hover:scale-125 duration-200"
        src="https://echeverriajesus.github.io/JesusEcheverria.github.io/static/media/PerfilN.817844543df566342ba7.jpg"
        alt=""
      />
    </a>

    <img
      class="absolute w-10 flotarIcono -bottom-5 -right-10 md:-bottom-5 md:-right-16 lg:bottom-5 lg:-right-20 xl:right-12 2xl:right-20 dark:invert"
      src="https://astro.build/assets/press/astro-icon-dark.png"
      alt=""
    />
    <img
      class="absolute w-10 animate-bounce -bottom-24 right-12 md:right-14 lg:right-20 lg:-bottom-20 xl:right-48 2xl:right-72 2xl:-bottom-24"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Laravel.svg/800px-Laravel.svg.png"
      alt=""
    />
    <img
      class="absolute w-12 LogoGirar top-24 -right-16 md:-right-24 lg:-right-28 lg:top-28 xl:right-10 xl:top-20 2xl:right-20"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Electron_Software_Framework_Logo.svg/1200px-Electron_Software_Framework_Logo.svg.png"
      alt=""
    />
    <img
      class="absolute w-9 flotarIcono top-44 right-40 md:-left-20 lg:top-64 xl:left-10 xl:top-56 2xl:top-72 2xl:left-20"
      src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/1200px-Java_programming_language_logo.svg.png"
      alt=""
    />
    <img
      class="absolute w-12 flotar bottom-24 -left-16 md:top-20 md:-left-20 lg:-left-24 lg:top-24 xl:left-10 xl:top-28 2xl:left-20"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Git_icon.svg/2048px-Git_icon.svg.png"
      alt=""
    />
    <img
      class="absolute w-12 flotar top-4 right-0 xl:right-36 2xl:right-64 2xl:top-0"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/320px-Tailwind_CSS_Logo.svg.png"
      alt=""
    />
    <img
      class="absolute w-9 LogoGirar top-4 right-28 lg:right-40 xl:right-72 xl:top-5 2xl:left-36"
      src="https://imgs.search.brave.com/8tjPbtKDGfwhQQT8-DhRbajx85BOCxvAJ1dAgMgs620/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/d29ybGR2ZWN0b3Js/b2dvLmNvbS9sb2dv/cy9yZWFjdC0yLnN2/Zw.svg"
      alt=""
    />
  </div>
</div>

<style>
  .LogoGirar {
    animation: alternate infinite App-logo-spin 7s;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .flotar {
    animation: alternate infinite flotar 5s;
  }

  @keyframes flotar {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(0%) translateY(15%);
    }
  }

  .flotarIcono {
    animation: alternate infinite flotarIcono 2.5s;
  }

  @keyframes flotarIcono {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(0%) translateY(50%);
    }
  }
</style>
