---
interface Props {
  title: String;
}
 const {title="ValorDefaul"} = Astro.props;
---

<h1 class="text-2xl font-bold tracking-wider lg:text-3xl 2xl:text-4xl text-orange-600 dark:text-[#ff7a01]">
    {title}
</h1>